# Proyecto Final 

### Asignatura: 
        Portafolios de Inversión 

### Integrantes: 
        1) Iván Andrés Arellano (714383)
        2) xxx_xxx
        3) xxxx_xx

In [1]:
# Se importan librerías 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import pandas_datareader.data as web
%matplotlib inline
from matplotlib import pyplot as plt

In [2]:
# Funciones: 
# Función para descargar precios de cierre ajustados:
def get_adj_closes(tickers, start_date=None, end_date=None):
    # Fecha inicio por defecto (start_date='2010-01-01') y fecha fin por defecto (end_date=today)
    # Descargamos DataFrame con todos los datos
    closes = web.DataReader(name=tickers, data_source='yahoo', start=start_date, end=end_date)
    # Solo necesitamos los precios ajustados en el cierre
    closes = closes['Adj Close']
    # Se ordenan los índices de manera ascendente
    closes.sort_index(inplace=True)
    return closes

In [3]:
ETFS = ['XLK.MX','VOO.MX','VGT.MX','VHT.MX','VOX.MX']

Stoks = ['BBVA.MX','AC.MX','AMXL.MX',
         'BIMBOA.MX','CUERVO.MX','VOLARA.MX',
         'AEROMEX.MX','WALMEX.MX','SAN.MX','GMEXICOB.MX']

tickers = ['XLK.MX','VOO.MX','VGT.MX','VHT.MX',
           'VOX.MX','BBVA.MX','AC.MX','AMXL.MX',
           'BIMBOA.MX','GAPB.MX','VOLARA.MX',
           'AEROMEX.MX','WALMEX.MX','SAN.MX','GMEXICOB.MX' ]

## 2016

In [8]:
# Portafolio 2016
start_date = '2015-12-31'
end_date = '2016-12-31'
closes_16 = get_adj_closes(tickers=['XLK.MX','VOO.MX','VGT.MX','VHT.MX','VOX.MX','BBVA.MX','AC.MX','AMXL.MX',
         'BIMBOA.MX','GAPB.MX','VOLARA.MX',
         'AEROMEX.MX','WALMEX.MX','SAN.MX','GMEXICOB.MX' ],
                        start_date= start_date , end_date=end_date)

In [11]:
closes_16.tail()

Symbols,XLK.MX,VOO.MX,VGT.MX,VHT.MX,VOX.MX,BBVA.MX,AC.MX,AMXL.MX,BIMBOA.MX,GAPB.MX,VOLARA.MX,AEROMEX.MX,WALMEX.MX,SAN.MX,GMEXICOB.MX
Date,,,,,,,,,,,,,,,
2016-12-26,1009.52002,NaN,NaN,NaN,NaN,138.163300,91.983780,11.295854,41.995289,130.713638,29.770000,39.209999,32.701851,49.488338,44.403854
2016-12-27,1025.00000,4317.299805,123.760002,2657.899902,101.400002,138.163300,92.139709,11.330745,41.657749,130.596603,30.040001,39.150002,32.640270,50.095276,44.523277
2016-12-28,1020.00000,4284.430176,122.589996,127.029999,100.610001,136.182434,93.352524,11.339467,42.351574,130.822845,30.299999,39.250000,32.860165,48.802036,45.972359
2016-12-29,1004.00000,4220.000000,2534.840088,2633.270020,100.779999,136.281479,94.435402,11.452862,44.011127,132.328720,31.040001,39.230000,33.027279,48.993454,45.948475
2016-12-30,1010.00000,4252.000000,2534.840088,126.650002,100.000000,137.668060,93.621086,11.365634,44.076759,133.015335,31.010000,39.099998,32.587494,49.815151,44.929344